.Tests {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

.spinner {
    display: flex;
    justify-content: center;

}

.TestsTable {
    font-size: 3em;
    width: 80vw;    
}

th {
    text-align: center !important;
}