.LoginForm {
    display: grid;
    grid-template-areas: 
    'Title'
    'InputFields';
    width: 25vw;
    height: 45vh;
    justify-items: center;
}

.Title {
    grid-area: Title;
    display: grid;
}

.InputFields {
    display: grid;
    grid-area: InputFields;
    height: 35vh;
    gap: 0vh;
    grid-template-rows: repeat(3, 1fr);
}

/* .InputField {
    border: 1px solid var(--border-inactive);
} */