.CreateTest {
    margin-top: 50px;
    display: grid;
    grid-template-rows: auto;
    
}

.CreateTestCard {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border: 0;
    /* background-color: var(--background-primary) !important; */
    box-shadow: none !important;
}

.TestHeaderRow {
    display: flex;
    margin-bottom: 1%;
    /* justify-content: space-between; */
    /* align-content: center; */
}

.TestNameLabel {
    text-align: justify;
}

.TestNameInput {
    border: 0;
    background-color: transparent;
    width: 40vw;
    /* display: flex !important; */
    margin: 1% 0;
}

.ChooseType {
    align-self: flex-start;
    /* position: relative;
    top: 30%;
    height: min-content; */
    /* margin-bottom: 0; */
}

.SelectCategoryContainer {
    align-self: baseline;
    margin-left: auto;
}