.TransparentNavbar {
    padding-left: 10% !important;
    padding-right: 10% !important;
    background-color: var(--background-primary) !important;
    background-color: transparent !important;
    box-shadow: unset !important;
    transition: all 0.4s ease-in-out !important;
}

.ColoredNavbar {
    padding-left: 10% !important;
    padding-right: 10% !important;
    background-color: var(--text-primary) !important;
    color: var(--background-primary) !important;
    transition: all 0.4s ease-in-out !important;
}

.Logo {
    font-family: "Montserrat Subrayada", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.LogoLink {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.8em;
}

.LogoLink:hover {
    text-decoration: none;
    /* color:  */
}

.dialog {
    width: fit-content !important;
    padding-bottom: 0 !important;
}