.RegisterForm {
    display: grid;
    grid-template-areas: 
    'Title'
    'InputFields';
    width: 30vw;
    height: 52vh;
    /* left: 50%;
    transform: translate(-50%, +60%); */
    z-index: 999;
    justify-items: center;
}

.Title {
    grid-area: Title;
    display: grid;
}

.InputFields {
    display: grid;
    grid-area: InputFields;
    gap: 3vh;
    grid-template-rows: repeat(4, 1fr);
}

.Toast {
    z-index: 500;
}