.QuestionCard {
    display: flex;
    width: 25rem;
    flex-direction: column;
    align-items: flex-start;
}

.QuestionContent {
    text-align: left;
}

.Headers {
    margin: 1vh 0;
}

.UnorderedList {
    list-style: none;
    text-align: left;
    padding-left: 0;
}