.Dashboard {
    display: grid;
    grid-template-rows: 25vh 75vh;
}

.SearchContainer {
    display: flex;
    place-self: center;
}

.SearchBar {
    width: 60vw;
    /* height: 10vh; */
    /* background-color: violet; */
}

.CreateTestButton {
    display: flex;
    align-self: center;
}

.Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.MainBoard {
    /* display: grid; */
    /* grid-template-columns: 15vw 85vw; */
}

.TabsNavBar {
    
}

.TabsNavBarList {
    text-align: left;
    list-style-type: none;
    border-right: 3px solid var(--text-primary);
}