
.LandingPage {
    padding: 1rem 10%;
    background-color: var(--background-primary);
}

.LandingPage > section {
    scroll-snap-align: start;
    display: flex;
}

/* The first section */

.Greetings {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--text-primary);
    padding-bottom: 100px;
}

.Greeter {
    font-size: 4.5em !important;
    line-height: 90px !important;
}

.DashboardLink {
    color: var(--text-primary);
    transition: 0.4s ease-in-out;
}

.DashboardLink:hover {
    color: var(--text-primary);
    text-decoration: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.ForTeachers {
    background-color: var(--background-secondary);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dialog {
    width: fit-content !important;
    padding-bottom: 0 !important;
}

.Description {

}

.AnimatedExample {

}

/* The third section */

.ForStudents {
    background-color: var(--background-primary);
    height: 100vh;
}

/* The fourth section */

.Analytics {
    background-color: var(--background-secondary);
    height: 100vh;
}