
.LandingPage {
    padding: 0 10%;
    background-color: var(--background-secondary);
}

.LandingPage > section {
    scroll-snap-align: start;
    display: flex;
}

/* The first section */

.Greetings {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--text-primary);
    padding-bottom: 100px;
}

.left-block {
    text-align: start;
}

.Greeter {
    font-size: 6rem !important;
    line-height: 6rem !important;
}

.DashboardLink {
    padding-left: 0.5rem;
    color: var(--text-primary);
    transition: 0.4s ease-in-out;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.ForTeachers {
    background-color: var(--background-secondary);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dialog {
    width: fit-content !important;
    padding-bottom: 0 !important;
}

.one-benefit-left {
    list-style-type: none;
    text-align: start;
}

.one-benefit-right {
    list-style-type: none;
    text-align: end;
}

.floating-grade {
    width: 600px;
    height: 600px;
}

.illustration {
    width: 550px;
    height: 550px;
}