
.LandingPage {
    /* display: flex; */
    /* scroll-snap-type: y mandatory; */
    /* overflow-y: scroll; */
}

.LandingPage > section {
    scroll-snap-align: start;
    display: flex;
}

/* The first section */

.Greetings {
    background-color: var(--background-primary);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
}

.Greeter {
    font-size: 5.5em !important;
    line-height: 90px !important;
}

.DashboardLink {
    color: var(--text-primary);
    /* box-shadow: 10px 10px 5px 0px var(--background-primary); */
    transition: 0.4s ease-in-out;
}

.DashboardLink:hover {
    color: var(--text-primary);
    text-decoration: none;
}

/* The second section */

.ForTeachers {
    background-color: var(--background-secondary);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Description {

}

.AnimatedExample {

}

/* The third section */

.ForStudents {
    background-color: var(--background-primary);
    height: 100vh;
}

/* The fourth section */

.Analytics {
    background-color: var(--background-secondary);
    height: 100vh;
}